body{
    background:linear-gradient(to bottom,#2d545e 37%,#e1b382);
    background-repeat: no-repeat;
    height: 100vh;   
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
}

.film-strip {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: -85px;
    margin-bottom: 80px;
    background-color: black;
    height:290px;
    width: 100%;
}

.image-box{
    width: 300px;
    height: 255px;
    background-color: rgb(255, 255, 255);
    border: 3px solid black;
    background-size: cover;
    background-position : center;
    border-radius: 9px;
    transition: all 0.3s ease-in-out;
    position: relative;
    margin-top: 13px;
    margin-left: 25px;;
}

.film-strip{
    position: relative;
    background-color: black;
    padding: 40px 0;
    display: flex;
    justify-content: center;
    gap: 20px;
    overflow: hidden;
}
.film-strip::before,
.film-strip::after {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 10px;
    background-image: repeating-linear-gradient(
        to right,
        white 0 7px,
        transparent 5px 15px
    );
    z-index: 2;
}
.film-strip::before {
  top: 9px;
}
.film-strip::after {
  bottom: 9px;
}

.timer{
    margin-top: 0px;
    font-size: 2rem;
    font-family: 'Courier New', monospace;
    font-size: 40px;
    color: #ffffff;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 25px 50px;
    border-radius: 10px;
    border: 2px solid #e1b382;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

.timer-controls {
  display: grid;
  grid-template-columns: auto 1fr auto;
  grid-template-rows: auto auto;
  gap: 10px 30px;
  justify-items: center;
  align-items: center;
  margin-top: 0px;
  margin-left: auto;
  margin-right: auto;
}
#btn2 {
  grid-column: 1;
  grid-row: 1;
}

#btn1 {
  grid-column: 3;
  grid-row: 1;
}

#btn3 {
  grid-column: 1;
  grid-row: 2;
}
#btn4 {
  grid-column: 3;
  grid-row: 2;
}

.control-btn {
  background-color: #2d545e;
  border: 2px solid #e1b382;
  color: #fff;
  font-size: 18px;
  padding: 8px 10px;
  border-radius: 6px;
  cursor: pointer;
  transition: background 0.2s ease-in-out;
  height: 44px;
  width: 44px;
}

.control-btn:hover {
  background-color: #e1b382;
  color: #2d545e;
}

.timer {
  grid-column: 2;
  grid-row: 1 / span 2; 
  align-self: center;
}

